n8n/workflows/agent2-responder.json
{
  "name": "Agent 2: Threat Responder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent2-responder",
        "responseMode": "lastNode"
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "agent2-responder"
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.item.json;\nconst body = alert.body || alert;\nconst alertData = body.alertData || body.alert || body;\nconst ticketId = body.ticket_id || alert.ticket_id;\n\nconst severityLevel = parseInt(alertData.severity) || 0;\nlet priority = alertData.priority || 1;\n\nreturn {\n  json: {\n    ticket_id: ticketId,\n    alertData: {\n      ...alertData,\n      severity: severityLevel,\n      priority: priority\n    }\n  }\n};"
      },
      "id": "parse1",
      "name": "Parse Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\nconst prompt = `You are a Tier 3 SOC Analyst performing deep threat analysis.\\n\\nCONTEXT:\\n- Alert was triggered by Wazuh SIEM\\n- Initial triage completed by Agent 1\\n- Affected Host: ${d.alertData.hostname} (ID: ${d.alertData.agent_id || 'N/A'})\\n- Determine threat intent, analyze associated vulnerabilities (CVEs), and propose remediation\\n\\nALERT DATA:\\n- Rule: ${d.alertData.rule_description || 'N/A'}\\n- Rule ID: ${d.alertData.rule_id || 'N/A'}\\n- Severity: ${d.alertData.severity}/15\\n- Host: ${d.alertData.hostname}\\n- Source IP: ${d.alertData.source_ip}\\n- Full Log: ${d.alertData.full_log?.substring(0, 1000) || 'N/A'}\\n\\nTASK:\\n1. Analyze the threat intent for the specific host ${d.alertData.hostname}.\\n2. Identify related CVEs and provide detailed mitigations.\\n3. Assess if this can be auto-resolved or requires human intervention.\\n\\nREQUIRED OUTPUT FORMAT (JSON ONLY):\\n{\\n  \"threat_intent\": \"string\",\\n  \"cve_list\": [\"CVE-YYYY-XXXX\"],\\n  \"cve_analysis\": \"Explanation of CVEs and specific host-based mitigations for ${d.alertData.hostname}\",\\n  \"blast_radius\": { \"scope\": \"low|medium|high|critical\", \"affected_systems\": [] },\\n  \"remediation_options\": [ { \"action\": \"string\", \"description\": \"string\", \"confidence\": 0.0-1.0 } ],\\n  \"recommended_action\": \"string\",\\n  \"confidence_score\": 0.0-1.0,\\n  \"inconclusive\": boolean\\n}\\n\\nCONSERVATISM CLAUSE: \\n- Set \\\"inconclusive\\\": true for ANY administrative access or privilege anomalies (Logins, sudo, user creation).\\n- Set \\\"inconclusive\\\": true if intent is not 100% verifiable from logs alone.\\n- High confidence scores (>=0.9) are reserved for clear, non-administrative compromises with well-known remediations.\\n\\nCRITICAL: If confidence_score >= 0.9 and inconclusive is false, we will auto-close the ticket.\\nFormat: JSON only.`;\n\nreturn { json: { prompt } };"
      },
      "id": "deepPrompt",
      "name": "Deep Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: \"llama-3.3-70b-versatile\", messages: [{ role: \"user\", content: $json.prompt }], temperature: 0.2, max_tokens: 1024 } }}"
      },
      "id": "groqReq",
      "name": "Groq Deep Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nlet analysis = { \n  threat_intent: 'No AI response', \n  cve_list: [], \n  cve_analysis: 'N/A', \n  remediation_options: [], \n  recommended_action: 'None', \n  confidence_score: 0, \n  inconclusive: true \n};\n\ntry {\n  if (data.choices && data.choices[0]?.message?.content) {\n    const text = data.choices[0].message.content;\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) analysis = JSON.parse(match[0]);\n  }\n} catch (e) {\n  analysis.threat_intent = 'Error parsing response: ' + e.message;\n}\n\nreturn { json: analysis };"
      },
      "id": "parseAnalysis",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const ana = $input.item.json;\nconst alertData = $('Parse Alert').item.json.alertData;\n\nlet html = `<h2>Deep Threat Analysis Report</h2>\\n<h3>Intent: ${ana.threat_intent}</h3>\\n<hr>\\n<h3>Vulnerability Intelligence</h3>\\n<p><strong>CVEs:</strong> ${ana.cve_list.join(', ') || 'None identified'}</p>\\n<p>${ana.cve_analysis}</p>\\n<hr>\\n<h3>Suggested Remediation</h3>\\n<ul>`;\n\nana.remediation_options.forEach(r => {\n  html += `<li><strong>${r.action}:</strong> ${r.description} (Confidence: ${(r.confidence * 100).toFixed(0)}%)</li>`;\n});\n\nhtml += `</ul>\\n<p><strong>Recommended Next Step:</strong> ${ana.recommended_action}</p>\\n<hr>\\n<p><strong>AI Confidence:</strong> ${(ana.confidence_score * 100).toFixed(0)}%</p>`;\n\nreturn { json: { body: html, inconclusive: ana.inconclusive, confidence: ana.confidence_score, cve_list: ana.cve_list } };"
      },
      "id": "formatReport",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"http://172.19.0.1:8080/api/v1/ticket_articles\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Authorization", "value": "Basic YWdlbnQyQHNvYy5sYWI6U09DX0FkbWluXzIwMjYh"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ticket_id: $('Parse Alert').item.json.ticket_id, body: $json.body, content_type: 'text/html', type: 'note', internal: false } }}"
      },
      "id": "postArticle",
      "name": "Post Remediation Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Format Report\"].json.confidence >= 0.9 }}",
              "value2": true
            },
            {
              "value1": "={{ $node[\"Format Report\"].json.inconclusive }}",
              "value2": false
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "ifNode1",
      "name": "Decision If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"http://172.19.0.1:8080/api/v1/tickets/\" + $('Parse Alert').item.json.ticket_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Authorization", "value": "Basic YWdlbnQyQHNvYy5sYWI6U09DX0FkbWluXzIwMjYh"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { state_id: 4, soc_cve_list: ($node[\"Format Report\"].json.cve_list || []).join(', ') } }}"
      },
      "id": "closeTicket",
      "name": "Auto-Close Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"http://172.19.0.1:8080/api/v1/tickets/\" + $('Parse Alert').item.json.ticket_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Authorization", "value": "Basic YWdlbnQyQHNvYy5sYWI6U09DX0FkbWluXzIwMjYh"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { group_id: 2, owner_id: 3, state_id: 2, soc_cve_list: ($node[\"Format Report\"].json.cve_list || []).join(', ') } }}"
      },
      "id": "escalateTicket",
      "name": "Escalate to Human",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 400]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Alert", "type": "main", "index": 0}]]},
    "Parse Alert": {"main": [[{"node": "Deep Analysis Prompt", "type": "main", "index": 0}]]},
    "Deep Analysis Prompt": {"main": [[{"node": "Groq Deep Analysis", "type": "main", "index": 0}]]},
    "Groq Deep Analysis": {"main": [[{"node": "Parse Analysis", "type": "main", "index": 0}]]},
    "Parse Analysis": {"main": [[{"node": "Format Report", "type": "main", "index": 0}]]},
    "Format Report": {"main": [[{"node": "Post Remediation Note", "type": "main", "index": 0}]]},
    "Post Remediation Note": {"main": [[{"node": "Decision If", "type": "main", "index": 0}]]},
    "Decision If": {
      "main": [
        [{"node": "Auto-Close Ticket", "type": "main", "index": 0}],
        [{"node": "Escalate to Human", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {}
}
