n8n/workflows/agent2-responder.json
{
  "name": "Agent 2: Threat Responder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "",
        "responseMode": "lastNode"
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "agent2-responder-webhook"
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.item.json;\nconst body = alert.body || alert;\nconst alertData = body.alert || body;\n\nconst rule = alertData.rule || {};\nconst agent = alertData.agent || {};\nconst data = alertData.data || {};\n\nconst severityLevel = parseInt(rule.level) || 0;\nlet priority = 1;\nif (severityLevel >= 12) priority = 3;\nelse if (severityLevel >= 7) priority = 2;\n\nreturn {\n  json: {\n    alertData: {\n      rule_id: rule.id,\n      rule_description: rule.description,\n      severity: severityLevel,\n      priority: priority,\n      source_ip: data.srcip || 'N/A',\n      dest_ip: data.dstip || 'N/A',\n      hostname: agent.name || 'N/A',\n      agent_id: agent.id || 'N/A',\n      full_log: alertData.full_log || '',\n      timestamp: alertData.timestamp || new Date().toISOString(),\n      mitre_tactics: (rule.mitre?.tactic || []).join(', '),\n      mitre_ids: (rule.mitre?.id || []).join(', '),\n      groups: (rule.groups || []).join(', ')\n    },\n    prompt: ''\n  }\n};"
      },
      "id": "parse1",
      "name": "Parse Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\nconst prompt = 'You are a Tier 3 SOC Analyst performing deep threat analysis.\\n\\nCONTEXT:\\n- Alert was triggered by Wazuh SIEM\\n- Initial triage completed by Agent 1\\n- Determine threat intent and propose remediation\\n\\nALERT DATA:\\n- Rule: ' + (d.alertData.rule_description || 'N/A') + '\\n- Rule ID: ' + (d.alertData.rule_id || 'N/A') + '\\n- Severity: ' + d.alertData.severity + '/15\\n- Source IP: ' + d.alertData.source_ip + '\\n- Destination IP: ' + d.alertData.dest_ip + '\\n- Affected Host: ' + d.alertData.hostname + '\\n- MITRE ATT&CK: ' + (d.alertData.mitre_tactics || 'N/A') + '\\n- MITRE IDs: ' + (d.alertData.mitre_ids || 'N/A') + '\\n- Groups: ' + (d.alertData.groups || 'N/A') + '\\n- Timestamp: ' + d.alertData.timestamp + '\\n- Full Log: ' + (d.alertData.full_log?.substring(0, 1000) || 'N/A') + '\\n\\nREQUIRED OUTPUT FORMAT (JSON ONLY):\\n{\\n  \"threat_intent\": \"string\",\\n  \"blast_radius\": {\\n    \"affected_systems\": [\"array\"],\\n    \"scope\": \"low|medium|high|critical\",\\n    \"data_at_risk\": [\"array\"]\\n  },\\n  \"mitre_attack\": {\\n    \"primary_technique\": \"T####\",\\n    \"techniques\": [\"array\"],\\n    \"tactics\": [\"array\"]\\n  },\\n  \"remediation_options\": [\\n    {\\n      \"action\": \"string\",\\n      \"description\": \"string\",\\n      \"impact\": \"string\",\\n      \"confidence\": 0.0-1.0\\n    }\\n  ],\\n  \"recommended_action\": \"string\",\\n  \"confidence_score\": 0.0-1.0,\\n  \"inconclusive\": boolean\\n}\\n\\nCRITICAL: If confidence_score < 0.7, explicitly state: \"Inconclusive: Requires manual forensic investigation.\"\\n\\nFormat: JSON only, no additional text.';\n\nreturn { json: { prompt } };"
      },
      "id": "deep1",
      "name": "Deep Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 2048 } } }}"
      },
      "id": "geminiReq",
      "name": "Gemini Deep Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nlet analysis = {\n  threat_intent: 'No AI response',\n  blast_radius: { affected_systems: [], scope: 'unknown', data_at_risk: [] },\n  mitre_attack: { primary_technique: 'N/A', techniques: [], tactics: [] },\n  remediation_options: [],\n  recommended_action: 'None',\n  confidence_score: 0,\n  inconclusive: true\n};\n\ntry {\n  if (data.candidates && data.candidates[0]?.content?.parts?.[0]?.text) {\n    const text = data.candidates[0].content.parts[0].text;\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) analysis = JSON.parse(match[0]);\n  }\n} catch (e) {\n  analysis.threat_intent = 'Error parsing AI response: ' + e.message;\n}\n\nreturn { json: analysis };"
      },
      "id": "parse1",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const analysis = $input.item.json;\nconst alertData = $('Parse Alert').item.json.alertData;\n\nconst remediationHtml = analysis.remediation_options.map((r, i) => \n  '<li><strong>' + (i + 1) + '. ' + r.action + '</strong><br>Description: ' + r.description + '<br>Impact: ' + r.impact + '<br>Confidence: ' + ((r.confidence || 0) * 100).toFixed(0) + '%</li>'\n).join('');\n\nconst blastRadiusHtml = '<p><strong>Affected Systems:</strong> ' + (analysis.blast_radius.affected_systems.join(', ') || 'None identified') + '</p><p><strong>Scope:</strong> ' + analysis.blast_radius.scope + '</p><p><strong>Data at Risk:</strong> ' + (analysis.blast_radius.data_at_risk.join(', ') || 'None identified') + '</p>';\n\nconst mitreHtml = '<p><strong>Primary Technique:</strong> ' + analysis.mitre_attack.primary_technique + '</p><p><strong>Tactics:</strong> ' + (analysis.mitre_attack.tactics.join(', ') || 'N/A') + '</p><p><strong>Techniques:</strong> ' + (analysis.mitre_attack.techniques.join(', ') || 'N/A') + '</p>';\n\nconst body = '<h2>Deep Threat Analysis Report</h2><h3>Alert Details</h3><p><strong>Rule:</strong> ' + alertData.rule_description + '</p><p><strong>Severity:</strong> ' + alertData.severity + '/15</p><p><strong>Host:</strong> ' + alertData.hostname + '</p><p><strong>Source IP:</strong> ' + alertData.source_ip + '</p><p><strong>Destination IP:</strong> ' + alertData.dest_ip + '</p><h3>Threat Intent</h3><p>' + analysis.threat_intent + '</p><h3>Blast Radius Assessment</h3>' + blastRadiusHtml + '<h3>MITRE ATT&CK Mapping</h3>' + mitreHtml + '<h3>Remediation Options</h3><ol>' + (remediationHtml || '<li>No options generated</li>') + '</ol><h3>Recommended Action</h3><p><strong>' + analysis.recommended_action + '</strong></p><h3>Analysis Confidence</h3><p>Confidence Score: ' + ((analysis.confidence_score || 0) * 100).toFixed(0) + '%</p><p>Status: ' + (analysis.inconclusive ? 'INCONCLUSIVE - Requires manual forensic investigation' : 'Analysis Complete') + '</p><hr><p><small>Generated by SOC AI Automation - Agent 2: Threat Responder</small></p>';\n\nreturn { json: { body } };"
      },
      "id": "format1",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api/v1/tickets.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Authorization", "value": "Token token=YOUR_ZAMMAD_TOKEN"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ticket: { title: '[DEEP ANALYSIS] ' + $('Parse Alert').item.json.alertData.rule_description, group: 'Users', priority: $('Parse Alert').item.json.alertData.priority, state: 'open', article: { body: $('Format Report').item.json.body, content_type: 'text/html' } } } }}"
      },
      "id": "zammad1",
      "name": "Create Zammad Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Alert", "type": "main", "index": 0}]]},
    "Parse Alert": {"main": [[{"node": "Deep Analysis Prompt", "type": "main", "index": 0}]]},
    "Deep Analysis Prompt": {"main": [[{"node": "Gemini Deep Analysis", "type": "main", "index": 0}]]},
    "Gemini Deep Analysis": {"main": [[{"node": "Parse Analysis", "type": "main", "index": 0}]]},
    "Parse Analysis": {"main": [[{"node": "Format Report", "type": "main", "index": 0}]]},
    "Format Report": {"main": [[{"node": "Create Zammad Ticket", "type": "main", "index": 0}]]}
  },
  "settings": {}
}
